[submodule "vim/pack/ning/opt/badwolf"]
	path = vim/pack/ning/opt/badwolf
	url = git@github.com:sjl/badwolf.git
[submodule "vim/pack/ning/start/vim-airline"]
	path = vim/pack/ning/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/ning/start/vim-ledger"]
	path = vim/pack/ning/start/vim-ledger
	url = git@github.com:ledger/vim-ledger.git
[submodule "vim/pack/ning/opt/onedark.vim"]
	path = vim/pack/ning/opt/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
