[submodule "vim/pack/ning/opt/badwolf"]
	path = vim/pack/ning/opt/badwolf
	url = git@github.com:sjl/badwolf.git
[submodule "vim/pack/ning/start/vim-airline"]
	path = vim/pack/ning/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/ning/opt/onedark.vim"]
	path = vim/pack/ning/opt/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "vim/pack/ning/start/vim-beancount"]
	path = vim/pack/ning/start/vim-beancount
	url = git@github.com:nathangrigg/vim-beancount.git
[submodule "vim/pack/ning/start/vimwiki"]
	path = vim/pack/ning/start/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule "vim/pack/ning/start/vimwikirun"]
	path = vim/pack/ning/start/vimwikirun
	url = git@github.com:zhaoning/vimwikirun.git
